<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="../PageCss/ChangePasswordCss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <div class="container">
        <header>Change Password</header>

        <form action="/ProfileUpdated" method="POST">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Enter Password</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Old Password</label>
                            <input type="password" placeholder="Enter Old Password" name="OPassword" required>
                        </div>

                        <div class="input-field">
                            <label>New Password</label>
                            <input type="password" placeholder="Enter New Password" name="NPassword" required>
                        </div>

                        <div class="input-field">
                            <label>Confirm Password</label>
                            <input type="password" placeholder="Confirm Password" name="CPassword" required>
                        </div>
                        <button type="submit" class="nextBtn">
                            <input type="submit" class="btnText">
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div> 
            </div>
        </form>
    </div>
</body>
</html>
